
<li>
    <a href="#"><i class="fa fa-amazon"></i><span class="nav-label">Categorías</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
        <li><a href="@Url.Action("Create", "Categorias")">Crear Categoría</a></li>
        <li><a href="@Url.Action("Index", "Categorias")">Lista Categorías</a></li>
    </ul>
</li>
<li>
    <a href="#"><i class="fa fa-ambulance"></i><span class="nav-label"> EPP </span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
        <li><a href="@Url.Action("Create", "EPP")">Crear EPP</a></li>
        <li><a href="@Url.Action("Index","EPP")">Lista EPP</a></li>
    </ul>
</li>


<li>
    <a href="#"><i class="fa fa-etsy"></i><span class="nav-label">Estados</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
        <li><a href="@Url.Action("Create", "Estado")">Crear Estado</a></li>
        <li><a href="@Url.Action("Index","Estado")">Listar Estados</a></li>
    </ul>
</li>

<li>
    <a href="#"><i class="fa fa-sign-in"></i><span class="nav-label">Ingreso de Stock</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
        <li><a href="@Url.Action("OrdenEntrada", "OrdenEntradas")">Ingresar Stock</a></li>
        <li><a href="@Url.Action("Index", "OrdenEntradas")">Listar Stock</a></li>
    </ul>
</li>
<li>
    <a href="#"><i class="fa fa-sort-amount-asc"></i><span class="nav-label">Solicitud de EPP</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
        <li><a href="@Url.Action("OrdenSalida", "OrdenSalidas")">Petición de EPP</a></li>
        <li><a href="@Url.Action("ListadoSalidas", "OrdenSalidas")">Listar Pedidos</a></li>
    </ul>
</li>
