@model UCSC.Models.OrdenSalida
@{
    ViewBag.Title = "DetalleOrdenSalida";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-title">
                <div class="form-group row">
                    <label class="col-2 text-right">N° Orden: </label>
                    <div class="col-sm-2">
                        <label>@Model.id_orden</label>
                    </div>
                    <label class="col-2 text-right">Usuario Ingreso: </label>
                    <div class="col-sm-2">
                        <label>@Model.Usuario.nombre</label>
                    </div>
                    <label class="col-2 text-right">Fecha Ingreso: </label>
                    <div class="col-sm-2">
                        <label>@Model.fecha_orden.ToShortDateString()</label>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="bg-primary">
                            <tr>
                                <th>Código Producto</th>
                                <th>Nombre</th>
                                <th>Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DetalleSalida)
                            {
                                <tr>
                                    <td>@item.EPP.id_epp</td>
                                    <td>@item.EPP.nombre</td>
                                    <td>@item.cantidad</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>