@model UCSC.Models.OrdenEntrada
@{
    ViewBag.Title = "DetalleOrden";
}
@if (Session["tipoUsuario"].Equals("Usuario"))
{
    Response.Redirect("~/OrdenSalidas/OrdenSalida");
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-title">
                <div class="form-group row">
                    <label class="col-2 text-right">N° Orden: </label>
                    <div class="col-sm-2">
                        <label>@Model.id_orden</label>
                    </div>
                    <label class="col-2 text-right">Usuario Ingreso: </label>
                    <div class="col-sm-2">
                        <label>@Model.Usuario.email</label>
                    </div>
                    <label class="col-2 text-right">Fecha Ingreso: </label>
                    <div class="col-sm-2">
                        <label>@Model.fecha.ToShortDateString()</label>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="bg-primary">
                            <tr>
                                <th style="width:100px">Código Producto</th>
                                <th>Nombre</th>
                                <th>Cantidad</th>
                                <th>Editar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DetalleEntrada)
                            {
                                <tr>
                                    <td>@item.EPP.id_epp</td>
                                    <td>@item.EPP.nombre</td>
                                    <td>@item.cantidad</td>
                                    <td>
                                        <button class="btn btn-warning" data-toggle="modal"
                                                data-url="@Url.Action("EditarDetalles","OrdenEntradas",new { id = item.id_detalle })">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/plugins/moment.min.js"></script>


<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap4.min.js"></script>




<script>
    $(document).ready(function () {
        $('#tabla').DataTable();
    });
</script>

<div class="modal fade" id="modalEdit"></div>

<script>
    $('.btn-warning').click(function () {
        let url = $(this).data('url');
        $.get(url, function (data) {
            $('#modalEdit').html(data);
            $('#modalEdit').modal('show');
        });
    });


</script>